name: Tests
on:
  push:
  pull_request:

jobs:
  check-dist-updated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Rebuild Dist
        run: npm run build

      - name: Compare Dist
        run: |
          if [ -n "$(git status --porcelain dist)" ]; then
            echo "dist/ is out of date. Please run 'npm run build' and commit the changes."
            exit 1
          fi

  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run tests
        run: npm test
